RPC_URL=https://api-mainnet.solana.com
EXECUTE_TRANSACTION=false
TEST_WALLET=Zjtdq9nSPafTNCodyYytCEbfQjR9aD8JTS8oxfh7Lbd2w1hZLiwzjByiVRgF5XRkG32BKWdFxj3YdNLNL1weyzm
TEST_METEORA_POOL=ARwi1S4DaiTG5DX7S4M4ZsrXqpMD1MrTmbu9ue2tpmEq
TEST_METEORA_POSITION=3xbDyEuRKWRtQSoHV2R7fqQGS1SKacL1gQp1vGzaYgp
TEST_ORCA_POOL=99PpNKW9ca26nLPg5GHmJUZizxcjyDZHGefu6eMBW7fa