RPC_URL=https://api-mainnet.solana.com
EXECUTE_TRANSACTION=false
TEST_WALLET=Zjtdq9nSPafTNCodyYytCEbfQjR9aD8JTS8oxfh7Lbd2w1hZLiwzjByiVRgF5XRkG32BKWdFxj3YdNLNL1weyzm
TEST_METEORA_POOL=ARwi1S4DaiTG5DX7S4M4ZsrXqpMD1MrTmbu9ue2tpmEq
TEST_METEORA_POSITION=3xbDyEuRKWRtQSoHV2R7fqQGS1SKacL1gQp1vGzaYgp
TEST_ORCA_POOL=99PpNKW9ca26nLPg5GHmJUZizxcjyDZHGefu6eMBW7fa
TEST_ORCA_POSITION_MINT=6FoeBNzayfDokjwNWZ87skFSokRePRdQgDWAuTVK3gx2
TEST_VALIDATOR_PATH=/path/to/solana/install/active_release/bin/solana-test-validator
PATH_index_yield_farming=/path/to/target/deploy/iyf_main.so
PATH_iyf_strategy_quarry=/path/to/target/deploy/iyf_quarry.so
PATH_iyf_strategy_solend=/path/to/target/deploy/iyf_solend.so
PATH_iyf_extension=/path/to/target/deploy/iyf_extension.so
